<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/api.js}"></script>
    <script type="text/javascript" th:src="@{/js/odontologos.js}"></script>
    <title>Alta Odontologo</title>
</head>
<body>
    <header>
        <nav>
            <div id="menuDefinition">
                <a href="/odontologos">Odontologos</a>
                <a href="/pacientes">Pacientes</a>
                <a href="/turnos">Turnos</a>
            </div>
            <div>
                <h5>Hola persona !</h5>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <h2>Alta Odontologo</h2>
            <button onClick="getOdontologos()"><a href="/odontologos">Listar odontologos</a></button>
            <article>
                <form id="add_new_odontologo">
                    <div>
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre"
                               placeholder="Ingrese el nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="apellido">Apellido:</label>
                        <input type="text" class="form-control" id="apellido"
                               placeholder="Ingrese la apellido" name="apellido" required></input>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="matricula">Matricula:</label>
                        <input type="text" class="form-control" id="matricula"
                               placeholder="Ingrese matricula" name="matricula"></input>
                    </div>

                </form>
                <div class="button">
                    <button onclick="postOdontologo()" id="btn-add-new-odontologoDTO">Cargar</button>
                </div>
            </article>
        </section>
    </main>
</body>
</html>