<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script type="text/javascript" src="js/api.js"></script>
  <script type="text/javascript" src="/js/update_odontologo.js"></script>
  <script type="text/javascript" src="/js/delete_odontologo.js"></script>
  <script type="text/javascript" src="js/odontologos.js"></script>
  <script type="text/javascript" src="/js/post_odontologo.js"></script>
  <title>Alta Paciente</title>
</head>
<body>
    <header>
      <nav>
        <div id="menuDefinition">
          <a href="/Odontologos">Odontologos</a>
          <a href="/Pacientes">Pacientes</a>
          <a href="/Turnos">Turnos</a>
        </div>
        <div>
          <h5>Hola persona !</h5>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <h2>Alta Paciente</h2>
        <button onClick="getOdontologos()"><a href="Pacientes.html">Listar pacientes</a></button>
        <button><a href="altaPaciente.html">Agregar nuevo</a></button>
        <article class="containerForm">
          <form id="add_new_odontologo">
            <div>
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre"
                     placeholder="Ingrese el nombre" name="nombre" required>
            </div>
            <div class="form-group">
              <label class="control-label" for="apellido">Apellido:</label>
              <input type="text" class="form-control" id="apellido"
                     placeholder="Ingrese la apellido" name="apellido" required></input>
            </div>
            <div class="form-group">
              <label class="control-label" for="dni">DNI:</label>
              <input type="number" class="form-control" id="dni"
                     placeholder="Ingrese su DNI" name="dni"></input>
            </div>
            <div>
              <h5>Dirección:</h5>
              <div class="form-group">
                <label class="control-label" for="calle">Calle:</label>
                <input type="text" class="form-control" id="calle"
                       placeholder="Ingrese la calle" name="calle" required></input>
              </div>
              <div class="form-group">
                <label class="control-label" for="altura">Altura:</label>
                <input type="text" class="form-control" id="altura"
                       placeholder="Ingrese la altura" name="altura" required></input>
              </div>
              <div class="form-group">
                <label class="control-label" for="localidad">Localidad:</label>
                <input type="text" class="form-control" id="localidad"
                       placeholder="Ingrese la localidad" name="localidad" required></input>
              </div>
              <div class="form-group">
                <label class="control-label" for="provincia">Provincia:</label>
                <input type="number" class="form-control" id="provincia"
                       placeholder="Ingrese la provincia" name="provincia"></input>
              </div>
            </div>

            <div class="button">
              <button type="submit" id="btn-add-new-odontologo">Cargar</button>
            </div>
          </form>
        </article>
      </section>
    </main>
</body>
</html>