<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" th:src="@{/js/api.js}"></script>
    <script type="text/javascript" th:src="@{/js/turnos.js}"></script>
    <title>Turnos</title>
</head>
<body>
    <header>
      <nav>
          <div id="menuDefinition">
              <a href="odontologos">Odontologos</a>
              <a href="pacientes">Pacientes</a>
              <a href="turnos">Turnos</a>
          </div>
        <div>
          <h5>Hola persona !</h5>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <h2>Turnos</h2>
        <button>Buscar turnos</button>
        <button><a href="turnos/alta">Agregar nuevo</a></button>
        <table id="turnoTable">
              <tr>
                  <th style="width:30%">Acciones</th>
                  <th style="width:10%">Fecha turno</th>
                  <th style="width:30%">Paciente</th>
                  <th style="width:30%">Odontologo</th>
              </tr>
        </table>
      </section>
    </main>
</body>
</html>

<script>
          $(document).ready(function(){
            getTurnos();
        });
</script>